<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Years Resolutions</title>
  </head>
  <body>
    <header>
      <h1>New Years Resolutions</h1>
    </header>
    <main>
      <a href="/resolutions">
        <h2>Resolutions</h2>
      </a>
      <a href="#">
        <h2>Hopeful People</h2>
      </a>
    </main>
  </body>
</html>
