<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Years Resolutions</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header>
      <h1 class="header">New Years Resolutions</h1>
    </header>
    <main id="landing">
      <div class="grow">
        <a href="/resolutions" class="aTag">
          <h2>Resolutions</h2>
        </a>
      </div>
      <div class="grow">
        <a href="#" class="aTag">
          <h2>Hopeful People</h2>
        </a>
      </div>
    </main>
  </body>
</html>
